html, body{
    /* -webkit-box-sizing: border-box;
    box-sizing: border-box; */
    margin: 0;
    padding: 0;
    height: 100vh;
    /* min-height: 350px; */
    overflow:hidden;
    font-family: 'IBM Plex Sans', sans-serif;

}

h1{
    margin: 0;
}

select{
    cursor: pointer;
}

#site-container{
    display: flex;
}

#half-container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
}

#title-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-around;
    height: 34vh;
    width: 50vw;
    z-index: 999;
    /* padding: vh; */
    top: 66vh;
    background: white;
}

#title-other-container{
    margin: 1vh 0;
}

#title-container:not(h1){
    font-size: 2vh;
}

#title-container img{
    width: 70%;
}

#title{
    text-align: center;
}

#title h1{
    font-size: 3vh;
    /* margin-bottom: 3px;
    margin-top: 5px; */
}

#personal-information i{
    color: black;
    font-size: 3vh;
    text-decoration: none;
    -webkit-transition: -webkit-transform .8s ease-in-out;
        transition:         transform .8s ease-in-out;
}


#title-description{
    margin: 0;
}

/* #selector-container{
    margin-bottom: 10px;
} */

#selector-container span{
    margin-right: 5px;
}

#category-selector-container span{
    margin-right: 5px;
}


#pi-container{
    margin-top: 3px;
    margin-bottom: 3px;
}

#personal-information{
    display: flex;
    width: 100%;
    /* margin: auto; */
    justify-content: space-around;
}



#personal-information i:hover{
    -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
}

#personal-information a{
    text-decoration: none;
}

#details-container{
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* top: 0;
    left: 70vw; */
    height: 100vh;
    width: 50vw;
    padding: 20px;
    background: white;
    font-size: 2vh;
}

#initial-details-container img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

#initial-details-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

#map-container{
    height: 70vh;
    width: 50vw;
}

svg{
    /* border: 3px solid red; */
    height: 70vh;
    width: 50vw;
    margin: 0;
}

.loser{
    color: red;
}

.winner{
    color: green;
}

.city-district-title{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.city-district-title h2{
    font-size: 4vh;
    margin-bottom: 0;
    margin-top: 0;
}

.city-district-title h1{
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 9vh;
}

.city-district-title span{
    /* margin-bottom: 2px; */
    font-size: 2vh;
}

.list-proposals{
    overflow: auto;
    padding-left: 20px;
    margin: 1vh, 0;
}

.list-proposals li{
    cursor: pointer;
    margin-top: 8px;
    margin-bottom: 8px;
}

.project-details{
    display: flex;
    flex-direction: column;
}

.project-details h2{
    font-size: 4vh;
    margin: 2vh 0;
}

.project-details span{
    font-size: 2vh;
    margin: 3px 0;
}

.details-button{
    margin-top: 20px;
    cursor: pointer;
    padding: 2vh;
    width: 70%;
}

.button-cover{
    display: flex;
    justify-content: center;
}

select{
    padding: 0;
    font-size: 2vh;
}

@media screen and (max-width: 800px) {

    html, body{
    /* -webkit-box-sizing: border-box;
    box-sizing: border-box; */
    margin: 0;
    padding: 0;
    /* height: 100vh; */
    /* min-height: 350px; */
    overflow: visible;
    }

    #site-container{
        flex-direction: column;
    }

    #half-container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
    /* height: 100vh; */
    }

    #title-container{
    position: static;
    height: auto;
    width: 100vw;
    z-index: 0;
    padding: 20px;
    /* top: 0px;
    left: 0px; */
    background: white;
    }

    #details-container{
    width: 100vw;
    }

    #map-container{
    height: 100vh;
    width: 100vw;
    }

    svg{
    /* border: 3px solid red; */
    width: 100vw;
    height: 100vh;
    margin: 0;
    }


    #title h1{
        font-size: 5vh;
        /* margin-bottom: 3px;
        margin-top: 5px; */
    }

    #title-container:not(h1){
    font-size: 4vh;
    }

    #personal-information i{
    color: black;
    font-size: 5vh;
    text-decoration: none;
    -webkit-transition: -webkit-transform .8s ease-in-out;
        transition:         transform .8s ease-in-out;
    }
    
    .project-details h2{
    font-size: 5vh;
    margin: 2vh 0;
    }

    .project-details span{
        font-size: 4vh;
        margin: 2px 0;
    }

    .details-button{
        margin-top: 20px;
        cursor: pointer;
        padding: 1vh;
        width: 70%;
    }

    select{
    font-size: 4vh;
    }   

    .city-district-title h2{
    font-size: 5vh;
    }

    .city-district-title h1{
        font-size: 12vh;
    }

    .city-district-title span{
    /* margin-bottom: 2px; */
    font-size: 4vh;
    }

    .list-proposals{
        margin: 4vh, 0;
    }

    .list-proposals li{
        font-size: 4vh;
    }

    #title-other-container{
    margin: 4vh 0;
    }
}

