html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow:hidden;
    font-family: 'IBM Plex Sans', sans-serif;

}

select{
    cursor: pointer;
}

#site-container{
    display: flex;
    height: 100vh;
    width: 100vh;
}

#title-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    height: 55vh;
    width: 45vh;
    z-index: 999;
    padding: 10px;
    top: 0px;
    left: 0px;
    background: white;
}

#title-other-container{
    height: 80%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
}

#title-container:not(h1){
    font-size: 1.1vw;
}

#title-container img{
    width: 70%;
}

#title{
    text-align: center;
}

#title h1{
    font-size: 2.5vw;
    margin-bottom: 0;
    margin-top: 5px;
}

#title-description{
    margin: 0;
}

/* #selector-container{
    margin-bottom: 10px;
} */

#selector-container span{
    margin-right: 5px;
}

#category-selector-container span{
    margin-right: 5px;
}


#pi-container{
    margin-top: 3px;
    margin-bottom: 3px;
}

#personal-information{
    display: flex;
    width: 100%;
    /* margin: auto; */
    justify-content: space-around;
}

#personal-information i{
    color: black;
    font-size: 45px;
    text-decoration: none;
    -webkit-transition: -webkit-transform .8s ease-in-out;
        transition:         transform .8s ease-in-out;
}

#personal-information i:hover{
    -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
}

#personal-information a{
    text-decoration: none;
}

#details-container{
    position: absolute;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* justify-content: space-around; */
    top: 0;
    left: 70vw;
    height: 100vh;
    width: 30vw;
    padding: 20px;
    background: white;
    /* z-index: 500; */
}

#initial-details-container img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

#initial-details-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

#map-container{
    height: 100vh;
    width: 70vw;
}

svg{
    /* border: 3px solid red; */
    height: 100vh;
    width: 70vw;
    margin: 0;
}

.loser{
    color: red;
}

.winner{
    color: green;
}

.city-district-title{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.city-district-title h2{
    font-size: 35px;
    margin-bottom: 0;
    margin-top: 0;
}

.city-district-title h1{
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 90px;
}

.city-district-title span{
    /* margin-bottom: 2px; */
    font-size: 17px;
}

.list-proposals{
    overflow: auto;
    padding-left: 20px;
}

.list-proposals li{
    cursor: pointer;
}

.project-details{
    display: flex;
    flex-direction: column;
}

.project-details h2{
    font-size: 24px;
}

.project-details span{
    margin: 3px 0;
}

.details-button{
    margin-top: 20px;
    cursor: pointer;
    padding: 5px;
}